<div class="container-fluid">
  <div *ngIf="loader">
    <app-loader></app-loader>
  </div>
  <div class="row p-3">
    <div
      class="col d-flex flex-wrap gap-3 justify-content-center align-content-center"
    >
      <div
        class="card w-25 justify-content-center align-items-center"
        *ngFor="let item of ProductData"
      >
        <div class="card-title">
          <div class="p-3">
            {{ item.title }}
          </div>
        </div>
        <div class="card-body">
          <img src="{{ item.image }}" class="img-fluid" alt="body-image" />
        </div>
        <div class="btn-group pb-3">
          <button class="btn btn-danger" (click)="delete(item.id)">
            delete
          </button>
          <button class="btn btn-success">update</button>
        </div>
      </div>
    </div>
  </div>
</div>
