<!-- <div class="main">
  <h1>My To Do List</h1>
  <h2>What would you like to do today?</h2>

  <ul>
    <li *ngFor="let item of items">
      {{ item.description }}
    </li>
  </ul>

  <form #frmDetails="ngForm" class="input-group">
    <dl>
      <dt>UserName</dt>
      <dd>
        <input
          type="text"
          ngModel
          #User="ngModel"
          class="form-control"
          name="User"
        />
      </dd>
      <dd>
        <input type="checkbox" ngModel #bool="ngModel" name="bool" />
        <span class="fw-bold">Select</span>
      </dd>
      <dd>
        <button class="btn btn-primary" (click)="addItem(frmDetails.value)">
          add
        </button>
      </dd>
    </dl>
  </form>
</div> -->

<ul>
  <li *ngFor="let item of myData">
    {{ item.name }}:
    <ul *ngFor="let value of item.values">
      <select name="" id="">
        <option value=""></option>
        <option value="{{ value.pvalue1 }}">1</option>
        <option value="{{ value.pvalue2 }}">2</option>
        <option value="{{ value.pvalue3 }}">3</option>
      </select>
    </ul>
  </li>
</ul>
