<div class="container m-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-6">
      <div class="d-flex justify-content-center m-3">
        <input
          class="form-control me-2"
          [(ngModel)]="formData.id"
          type="number"
          placeholder="Sl.No"
        />
        <input
          class="form-control me-2"
          type="text"
          placeholder="Name"
          [(ngModel)]="formData.name"
        />
        <input
          class="form-control me-2"
          type="number"
          placeholder="weight"
          [(ngModel)]="formData.weight"
        />
        <input
          class="form-control me-2"
          type="text"
          placeholder="Symbol"
          [(ngModel)]="formData.symbol"
        />
        <button type="button" class="btn btn-success" (click)="addData()">
          Add
        </button>
      </div>
      <table class="table table-hover">
        <thead class="">
          <th class="text-center">Sl.No</th>
          <th class="text-center">Name</th>
          <th class="text-center">Weight</th>
          <th class="text-center">Symbol</th>
          <th class="text-center">Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let items of data; let i = index">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center">{{ items.name }}</td>
            <td class="text-center">{{ items.weight }}</td>
            <td class="text-center">{{ items.symbol }}</td>
            <td class="text-center">
              <button
                class="btn btn-danger me-2"
                (click)="deleteItem(items.id)"
              >
                <span class="bi bi-trash-fill text-light"></span>
              </button>
              <button
                class="btn btn-primary me-2"
                (click)="handleChildData(items)"
              >
                <span class="bi bi-eye-fill"></span>
              </button>
              <button class="btn btn-success" (click)="handleUpdateData(items)">
                <span class="bi bi-pen"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="view">
      <div class="viewContainer position" (click)="viewData()">
        <div class="viewContainerModel" (click)="handleButtonClick($event)">
          <span class="bi bi-x-circle-fill close" (click)="viewData()"></span>
          <app-view-data [value]="selectedValue"></app-view-data>
        </div>
      </div>
    </div>

    <div *ngIf="updateView">
      <div class="viewContainer position" (click)="viewUpdate()">
        <div class="viewContainerModel" (click)="handleButtonClick($event)">
          <span class="bi bi-x-circle-fill close" (click)="viewUpdate()"></span>
          <app-new-item
            [element]="updateValue"
            (dataEvent)="handleDataUpdate($event)"
          ></app-new-item>
        </div>
      </div>
    </div>
  </div>
</div>
