.viewContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  position: fixed; /* Position fixed to keep it in the same place when scrolling */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.viewContainerModel {
  min-width: 30%;
  min-height: 30%;
  background-color: #fff;
}
